{% extends "layout.html" %}
{% block title %}
Borc səhifəsi
{% endblock title %}
{% block head %}
<script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>

{% endblock head %}
{% block body %}
    <div class="text-center">

        <div class="jumbotron">
            <h1><b>Borc yaratma</b></h1>
            <form method="post">
                {{render_field(form.debt)}}
                {{render_field(form.content)}}
                {{render_field(form.payment)}}
                <button type="submit" class="btn btn-danger">Borc yarat</button>
            </form>
        </div>
    </div>
    <script>
        CKEDITOR.replace( 'content' );
    </script>
{% endblock body %}
