{% extends "layout.html" %}
{% block title %}
Dəyişmə səhifəsi
{% endblock title %}
{% block head %}
<script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
{% endblock head %}
{% block body %}
<div class="text-center">
    <h1><b>Dəyişmə səhifəsi</b></h1>
    <hr>
    <div class="jumbotron">
        <form method="post">
            {{render_field(form.content)}}
            {{render_field(form.cost)}}
            <button type="submit" class="btn btn-success">Dəyiş</button>
        </form>
    </div>
</div>

<script>
                        CKEDITOR.replace( 'content' );
</script>
{% endblock body %}