{% extends "layout.html" %}
{% block title %}
Ümumi qaytarma
{% endblock title %}
{% block body %}
<div class="text-center">
    <h1><b>Qaytarmalar</b></h1>
</div>
{% if data %}
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">İD</th>
                <th scope="col">Müştəri kodu</th>
                <th scope="col">Dəyər</th>
                <th scope="col">Tərkib</th>
                <th scope="col">Vaxt</th>
                <th scope="col">Məntəqə</th>
            </tr>
        </thead>
        <tbody>
        {% for datam in data %}

            <tr>
                <th scope="row">{{datam.ID}}</th>
                <td>{{datam.Username}}</td>
                <td>{{datam.Cost}}</td>
                <td>{{datam.Content | safe}}</td>
                <td>{{datam.Time}}</td>
                <td>{{datam.Author}}</td>
                
            </tr>
        
        {% endfor %}

{% else %}
{% endif %}


{% endblock body %}