{% extends "layout.html" %}
{% block title %}
İstifadə dəyişmə
{% endblock title %}
{% block body %}
<div class="text-center">
    <h1><b>İstifadə dəyişmə</b></h1>
    <hr>
    <h1><b>Müştəri kodu {{data.Username}}</b></h1>
    <form method="post">
        {{render_field(form.name)}}
        {{render_field(form.surname)}}
        {{render_field(form.telephone)}}
        {{render_field(form.address)}}
        {{render_field(form.storage)}}
        <button type="submit" class="btn btn-success">Yenilə</button>
    <form>
</div>
{% endblock body %}